apiVersion: v1
kind: ConfigMap
metadata:
  name: appointme
  labels:
    app: appointme
data:
  # General
  NODE_ENV: "production"
  TZ: "Europe/Berlin"
  
  # Backend Configuration
  # The public URL of the backend API
  API_URL: "https://api.appointme.example.com/api/v1"
  # The Base Path of the Application
  BASE_PATH: "/"
  # The URL of the client application (CORS)
  BASE_URL: "https://appointme.example.com"
  # MongoDB Connection String
  MONGO_URI: "mongodb://mongodb:27017/appointme"
  # Server Port
  PORT: "5000"
  # CORS allowed origins (comma separated)
  CORS_ALLOWED_ORIGINS: "https://appointme.example.com"
  
  # Feature Flags
  DISABLE_GOOGLE_LOGIN: "false"
  
  # OIDC Configuration
  OIDC_ISSUER: "https://accounts.google.com"
  OIDC_CLIENT_ID: "changeme"

  # SMTP Configuration
  SMTP_HOST: "smtp.example.com"
  SMTP_PORT: "587"
  SMTP_SECURE: "false"
  
  # Client Configuration (Build-time variables for the frontend)
  REACT_APP_API_URL: "https://api.appointme.example.com/api/v1"
  REACT_APP_URL: "https://appointme.example.com"
