node_modules/**
test-results/**
types.js
types.js.map
docker.env

.env*
.flaskenv*
!.env.project
!.env.vault


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

client-database/**
codeql/**

sonar-scanner-5.0.1.3006-linux/**
.scannerwork/**


*/TEST-*.xml
*/*-ctrf.json
**/ctrf/*.json
**/*.log
backend/src/dav_test.js
test_output.txt
backend/debug_output.txt

# k8s secrets
backend/k8s/configmap.yaml
backend/k8s/secret.yaml
client/yarn-error.log
client/yarn-error.log
