node_modules/**
test-results/**
types.js
types.js.map
docker.env

.env*
.flaskenv*
!.env.project
!.env.vault


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

client-database/**
codeql/**

sonar-scanner-5.0.1.3006-linux/**
.scannerwork/**


*/TEST-*.xml
*/*-ctrf.json
**/ctrf/*.json
backend/combined.log
backend/error.log
backend/combined.log
backend/debug.log
backend/error.log
