version: "3" 

services:
  client:
    container_name: client
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    restart: always
    env_file:
      - docker.env
    ports:
      - "127.0.0.1:48002:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.appointme_client.rule=PathPrefix(`/appointme`)"
      - "traefik.http.routers.appointme_client.entrypoints=web,websecure"
  appointme:
    container_name: appointme
    build:
      context: .
      dockerfile: Dockerfile
      target: backend
    restart: always
    env_file:
      - docker.env
    environment:
      CONTACT_INFO: |
        [Prof. Dr. Christian Gawron](https://jupiter.fh-swf.de/team/cgawron)  
        [gawron.christian@fh-swf.de](mailto:gawron.christian@fh-swf.de)  
        [+49 2371 566 1565](tel:+4923715661565)  
        [Raum P.103, Frauenstuhlweg 31, 58644 Iserlohn](geo:51.36785,7.68687)
    ports:
      - "127.0.0.1:48001:5000"
    links:
      - mongo-appointme
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.appointme_api.rule=PathPrefix(`/appointme/api`)"
      - "traefik.http.routers.appointme_api.entrypoints=web,websecure"
      

  mongo-appointme:
    container_name: mongo-appointme
    image: mongo
    volumes:
      - /opt/appointme/mongo:/data/db

networks:
  default:
    external:
      name: traefik
