.activate {
  width: 100%;
  margin: 0 auto;
}

.activate-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

.activatebox {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.activatebox form {
  width: 100%;
}
.activatebox button {
  width: 100%;
}
.activatebox a {
  width: 100%;
}

.activatebox p {
  font-weight: lighter;
  margin-top: 10px;
}
