.addevent .header {
  display: flex;
  min-height: 100px;
  color: var(--text-color, #4d5055);
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}
.addevent .subheader {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.addevent .mywrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.addevent .header-back {
  width: 33%;
}
.addevent .header-back .btn-back {
  cursor: pointer;
  color: var(--primary-color, rgb(0, 162, 255));
  font-size: 30px;
  margin-bottom: 15px;
  float: left;
}

.addevent .card-header {
  background-color: #fff;
  font-size: 25px;
  min-height: 60px;
  padding: 8px 20px;
  border-bottom: 1px solid gray;
}

.addevent .card {
  outline: none;
  width: 100%;
  height: 100%;
}
.addevent .rangedays {
  width: 10%;
}
.addevent .minutes {
  width: 10%;
}

.addevent .displayrow {
  display: flex;
}
.addevent .addeventaccordion {
  border: 1px solid gray;
  cursor: pointer;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.addevent .form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.addevent .form-group {
  padding: 30px 10px 10px 30px;
}

.addevent .form-control {
  min-height: 50px;
}

.addevent .collapse {
  cursor: pointer;
}
.addevent .bufferafter {
  margin-left: 20px;
}
.addevent .labelbuffer {
  margin-left: 36%;
}

.addevent .listrow {
  display: flex;
}
.addevent .availableprep .input-group-text {
  width: 50px;
}
.availabletimes {
  padding: 0;
}

.addevent .endinput {
  margin-left: 20px;
}
.addevent .save {
  width: 33%;
  float: right;
  margin-bottom: 100px;
}
