.wrap-app > *{
    position: relative;
    z-index: 0;
}

.wrap-app > .app-navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: #b2f5ea;
}

