.wrap-top-navbar{
    width: 100%;
    position: relative;
    background-color: #251431;
}

.top-navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    min-height: 55px;
}

.top-navbar .navbar-brand{
    color: white;
    font-size: 25px;
}

.top-navbar .navbar-brand:hover{
    color: white;
}

.top-navbar .navbar-nav .nav-link{
    color: white;
}

.top-navbar .navbar-nav .nav-link:hover{
    color: rgb(99, 236, 87);
}

.content-end{
    margin-right: 15px;
    margin-left: auto;
    text-align: center;
    display: flex;
}

.wrap-homebar{
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.15);
}

.wrap-homebar .menu-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
}
.menu-wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    justify-content: center;
    font-size: larger;
}

.homebar{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    padding: 0;
}

.homebar .navbar-nav{
    margin-right: auto;
    margin-left: 0;
    padding: 0;
}

.wrap-event-list{
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1020px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.table-list{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: #251431;
}