.wrap-top-navbar {
  width: 100%;
  position: relative;
  background-color: #251431;
}

.top-navbar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  min-height: 55px;
}

.top-navbar .navbar-brand {
  color: white;
  font-size: 25px;
}

.top-navbar .navbar-brand:hover {
  color: white;
}

.top-navbar .navbar-nav .nav-link {
  color: white;
}

.top-navbar .navbar-nav .nav-link:hover {
  color: rgb(99, 236, 87);
}
.top-navbar .navbar-nav .nav-link::selection {
  color: rgb(99, 236, 87);
}
.dropdown-item {
  color: rgb(63, 60, 60);
}
.dropdown-item:hover {
  color: black;
}

.content-end {
  margin-right: 15px;
  margin-left: auto;
  text-align: center;
  display: flex;
}

@media screen and (max-width: 600px) {
  .nav-link {
    display: none;
  }
}
