.booking {
  color: var(--text-color, #4d5055);
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}
.bookingwrapper {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 70px;
  min-height: 700px;
  border-radius: 12px;
  margin-top: 66px;
  margin-bottom: 30px;
  flex-direction: column;
}
.booking-header {
  text-align: center;
  margin-right: 90px;
}
.booking-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 900px;
  min-height: 550px;
  transition: all 0.22s ease-out;
  border: 2px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
}

.leftpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 50%;
  border-right: 2px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
}

.leftpanelcontent {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.booking.btn-back {
  display: flex;
  cursor: pointer;
  color: var(--primary-color, rgb(0, 162, 255));
  font-size: 24px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.profileinfo {
  margin-bottom: 15px;
}

.eventinfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 30px;
}

.username {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 30px;
  font-weight: lighter;
}

.eventname {
  padding-right: 10px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 25px;
}

.eventdata {
  margin: 0;
}

.panel {
  flex: 1 1 50%;
  width: 50%;
  transition: all 0.22s ease-out;
}
.wrappanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 25px 0 0 0;
}
.pickertitel {
  width: 75%;
  margin-bottom: 20px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.booksubmit {
  display: flex;

  margin-top: 40px;
}

.booking .btn-back {
  display: flex;
  cursor: pointer;
  color: var(--primary-color, rgb(0, 162, 255));
  font-size: 30px;
  padding-left: 30px;
  margin-bottom: 15px;
}
