.details {
  color: var(--text-color, #4d5055);
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}
.detailswrapper {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  min-height: 700px;
  border-radius: 12px;
  flex-direction: column;
  max-width: 1200px;
}

.detailscontainer {
  display: flex;
  flex: 1 1 auto;
  min-width: 600px;
  min-height: 550px;
  max-width: 1200px;
  transition: all 0.22s ease-out;
  border: 2px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
}

.detailsleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 50%;
  border-right: 2px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
}

.details .leftpanelcontent {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.details .detailsright {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details .wrapform {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.details .btn {
  width: 100%;
}

.details .form-group .form-label {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

.details #description {
  min-height: 200px;
}

.details .btn-back {
  cursor: pointer;
  color: var(--primary-color, rgb(0, 162, 255));
  font-size: 30px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.details .time {
  color: rgba(46, 185, 46, 0.952);
  font-size: 20px;
}
