.eventlist {
  box-sizing: border-box;
}

.reihe {
  width: 100%;
}

.spalte {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.spalte .card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
  min-height: 150px;
  margin-bottom: 20px;
}

.isnotactive {
  width: 100%;
  height: 5px;
  background-color: rgb(139, 139, 139);
}
.isactive {
  width: 100%;
  height: 5px;
  background-color: rgb(98, 211, 126);
}

.mydropdown {
  float: right;
}

.mydropdown .dropdown-toggle {
  background-color: #251431;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: black;
}

.mydropdown .dropdown-toggle[aria-expanded="true"] {
  background-color: #251431;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: black;
}

.reihe::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .spalte {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
