.finished {
  height: 100vh;
  background-color: #bee2f0;
  background-image: linear-gradient(135deg, #bee2f0 43%, #bdc0e0 76%);
}

.finished .wrapper {
  max-width: 960px;
  margin: auto;
}

.finished .finishedbox {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
  min-height: 500px;
  justify-content: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.finished .title {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color, #4d5055);
  margin-top: 20px;
}
.finished .timestring {
  color: rgba(46, 185, 46, 0.952);
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.finished .icon {
  margin-top: 30px;
  font-size: 35px;
}

.finished .finishedbtn {
  color: black;
  border-color: black;
  min-height: 32px;
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  width: 33%;
  float: right;
  font-size: 20px;
}

.finished .finishedbtn:hover {
  background-color: #bee2f0;
}
