.landing .wrap-navbar {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #326980;
}
.landing {
  height: 100vh;
  background-color: #bee2f0;
  background-image: linear-gradient(135deg, #bee2f0 43%, #bdc0e0 76%);
}

.section {
  margin-top: 40px;
}
.subsection {
  box-sizing: border-box;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
}
.container {
  box-sizing: border-box;
  max-width: 1024px;
  padding: 0 5px;
  margin: 0 auto;
}
.sectionheader {
  text-align: center;
  margin-bottom: 80px;
  font-size: 35px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color, #4d5055);
}
.row {
  display: flex;
}
.stepone {
  float: left;
  margin-bottom: 65px;
  display: flex;
}
.steptwo {
  float: left;
  margin-bottom: 65px;
  display: flex;
  margin-left: 20%;
}
.stepthree {
  display: flex;
  float: right;
  margin-bottom: 0;
  margin-left: 40%;
}
.step-image {
  width: 50%;
}

.step-image .second {
  padding-right: 80px;
}
.step-description {
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.landing .nav-link {
  font-size: large;
}
