.planing {
  width: 100%;
  margin: 0;
}

.eventcontainer {
  min-width: 600px;
  max-width: 1060px;
  min-height: 760px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.planinglist .btn-back {
  display: flex;
  cursor: pointer;
  color: var(--primary-color, rgb(0, 162, 255));
  font-size: 30px;
  padding-left: 50px;
  margin-bottom: 15px;
}
.planingborder {
  border-bottom: 3px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
}

.planingdetails {
  max-width: 600px;
  margin: 20px auto 20px auto;
  text-align: center;
  color: var(--text-color, #4d5055);
  font-family: "Montserrat", sans-serif;
}
.planinglist {
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planinglist > ul > li {
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
}
