.register {
  width: 100%;
  margin: 0 auto;
}
.calIcon {
  font-size: xx-large;
}
.register-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.registerbox {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
}
.registerbox form {
  width: 100%;
  text-align: center;
}
.registerbox button {
  width: 100%;
}
.registerbox a {
  width: 100%;
}

.registerbox p {
  font-weight: lighter;
  margin-top: 10px;
}
.register-container .calIcon {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
